# Bloqueia tudo por padrão
/*

# Permite a pasta Assets
!/Assets/
/Assets/*

# Abre exceção para a sua pasta de jogo específica
!/Assets/01_Game/
/Assets/01_Game/*

# Permite os Scripts e Settings dentro de 01_Game
!/Assets/01_Game/Scripts/
!/Assets/01_Game/Scripts/**
!/Assets/01_Game/Settings/
!/Assets/01_Game/Settings/**

# Permite arquivos essenciais na raiz
!.gitignore
!README.md