# Bloqueia tudo por padrão
/*

# Permite a pasta Assets (mas não o conteúdo dela ainda)
!/Assets/

# Bloqueia tudo dentro de Assets
/Assets/*

# Abre exceção para a pasta de Scripts e todo o seu conteúdo
!/Assets/01_Game/Scripts/
!/Assets/01_Game/Scripts/**

# Abrir exceção para as configurações de Input e Data
!/Assets/01_Game/Settings/
!/Assets/01_Game/Settings/**
!/Assets/01_Game/Scripts/Player/Data/
!/Assets/01_Game/Scripts/Player/Data/**

# Se você quiser salvar os arquivos .meta dos scripts (RECOMENDADO)
!/Assets/01_Game/Scripts/**/*.meta

# Permite o arquivo .gitignore e o README
!.gitignore
!README.md